
p{
    font-family:Helvetica;
}
h1{
    font-family:Helvetica;
}
.idea{
    position: relative;
}
.idea p{
    position: absolute;
    top: 5rem;
    padding-right: 54rem;
}
.idea h1{
    position: absolute;
    top: 10rem;
    padding-right: 54rem;
}